header {
    position: fixed;
    top: 0px;
}
footer {
    position: fixed;
    bottom: 10px
}

body{
  background-color: #f64d33;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

h4{
    color:#ff85d9;
    font-family: Rachel !important;
    font-size: 30em;
    text-align: left;
    width: 100%
  }

  p {
    color:#ff85d9;
    font-family: Arial;
    font-size: 2em;
    text-align: left;
    position: center;
    width: 100%;
    left: 10px;
    bottom: 10em;
    border: 10px;
  }

  p2{
      color:#ff85d9;
      font-family: Arial;
      font-size: 600px;
      position:fixed;
    }

p2:hover:after {
        content: url(../Media/profile2.png); /* no need for qoutes */
        display: block;
        position: absolute;
        width: 0em;
        left: 10px; /* change this value to one that suits you */
        top: 10px;
    }
