body{
  background-color: #f64d33;
  width: 100%;
  position:relative;
 }

.sticky {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: left;
  background-color: #f64d33;
}

a {
  color:#ff85d9;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: #ff85d9;
}

.menu a {
  font-size: 2em;
}
  .menu a:hover {
    color: blue;
    text-decoration: none;
  }

a.instagram {
    font-size: 250px;
    position: absolute;
    bottom: 10em;
    text-decoration: none;
    border: 10px;
    top: 400px;
    left: 1000px
}

h4{
    color:#ff85d9;
    font-family: Rachel !important;
    font-size: 30em;
    text-align: left;
    width: 100%
  }

p {
    color:#ff85d9;
    font-family: Arial;
    font-size: 2em;
    text-align: left;
    position: relative;
    width: 100%;
    left: 0em;
    top: 0px
    bottom: 0em;
    border: 0em;
  }

.stars-container {
    position: relative;
}

.stars {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%
}

.star{
      color:#ff85d9;
      font-family: Arial;
      font-size:100px;
      position: relative;
      z-index: 10;
}
.star:hover:after {
        position: absolute;
        width: 0em;
        display: block;
        z-index: 100;
    }

.star1{
      left: 45%;
      top: 50px;
    }

.star1:hover:after {
        content: url(../Media/profile2.png); /* no need for qoutes */
        position: absolute;
        width: 0em;
        left: 50%; /* change this value to one that suits you */
        top: -400px;
    }

.star2 {
  left: 100px;
  bottom: 50px;
}

.star3 {
  left: 400px;
  top: 90px;
}

.star4 {
  left: 650px;
  top: 105px;
}

.star5 {
  left: 800px;
  top: 90px;
}

.star2:hover:after {
  content: url(../Media/PROBACKTOR3.png); /* no need for qoutes */
  left: 2px; /* change this value to one that suits you */
  top: 50px;
}

.star3:hover:after {
  content: url(../Media/H3.png); /* no need for qoutes */
  left: 2px; /* change this value to one that suits you */
  top: 50px;
}

.star4:hover:after {
  content: url(../Media/HD2.png); /* no need for qoutes */
  left: 2px; /* change this value to one that suits you */
  top: 50px;
}

.star5:hover:after {
  content: url(../Media/FI.png); /* no need for qoutes */
  left: 2px; /* change this value to one that suits you */
  top: 50px;
}
