header {
    position: fixed;
    top: 0px;
}
footer {
    position: fixed;
    bottom: 10px
}

body{
  background-color: #f64d33;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
}

h4{
    color:#ff85d9;
    font-family: Rachel !important;
    font-size: 30em;
    text-align: left;
    width: 100%
  }

p {
    color:#ff85d9;
    font-family: Arial;
    font-size: 2em;
    text-align: left;
    position: center;
    width: 100%;
    left: 10px;
    bottom: 10em;
    border: 10px;
  }

p2{
      color:#ff85d9;
      font-family: Arial;
      font-size: 600px;
      position:fixed;
    }

p2:hover:after {
        content: url(../Media/profile2.png); /* no need for qoutes */
        display: block;
        position: absolute;
        width: 0em;
        left: 10px; /* change this value to one that suits you */
        top: 10px;
    }

p3{     color:#ff85d9;
        font-size: 10em;
        text-align: left;
        position: center;
        width: 100%;
        left: 10px;
        bottom: 10em;
        border: 10px;
    }

p3:hover:after {
              content: url(../Media/PROBACKTOR3.png); /* no need for qoutes */
              display: block;
              position: absolute;
              width: 0em;
              left: 10px; /* change this value to one that suits you */
              top: 10px;
          }

p4{     color:#ff85d9;
                  font-size: 10em;
                  text-align: right;
                  position: relative;
                  width: 100%;
                  right: 10px;
                  bottom: 0px;
                  border: 0px;
              }

p4:hover:after {
                        content: url(../Media/P5.png); /* no need for qoutes */
                        display: block;
                        position: absolute;
                        width: 0em;
                        left: 10px; /* change this value to one that suits you */
                        top: 10px;
                    }
p5{
      color:#ff85d9;
      font-family: Arial;
      font-size: 600px;
      position:fixed;
    }

p5:hover:after {
        content: url(../Media/profile2.png); /* no need for qoutes */
        display: block;
        position: relative;
        width: 2em;
        left: 10px; /* change this value to one that suits you */
        top: 56px;
}
p6{
              color:#ff85d9;
              font-family: Arial;
              font-size: 600px;
              position:fixed;
            }

p6:hover:before {
                content: url(../Media/profile2.png); /* no need for qoutes */
                display: block;
                position: relative;
                width: 2em;
                left: 50px; /* change this value to one that suits you */
                top: 90px;
