header {
    position: fixed;
    top: 0px;
}


.sticky {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

body{
  background-color: #f64d33;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
}

h4{
    color:#ff85d9;
    font-family: Rachel !important;
    font-size: 30em;
    text-align: left;
    width: 100%
  }

p {
    color:#ff85d9;
    font-family: Arial;
    font-size: 2em;
    text-align: left;
    position: center;
    width: 100%;
    left: 1em;
    bottom: 1em;
    border: 1em;
  }

p2{
      color:#ff85d9;
      font-family: Arial;
      font-size: 600px;
      position:fixed;
    }

p2:hover:after {
        content: url(../Media/profile2.png); /* no need for qoutes */
        display: block;
        position: absolute;
        width: 0em;
        left: 10px; /* change this value to one that suits you */
        top: 10px;
    }

p3{     color:#ff85d9;
        font-size: 10em;
        text-align: left;
        position: center;
        width: 100%;
        left: 10px;
        bottom: 10em;
        border: 10px;
        top: 50px;
    }

p3:hover:after {
              content: url(../Media/PROBACKTOR3.png); /* no need for qoutes */
              display: block;
              position: absolute;
              width: 0em;
              left: 10px; /* change this value to one that suits you */
              top: 50px;
          }

p4{     color:#ff85d9;
                  font-size: 10em;
                  text-align: right;
                  position: relative;
                  width: 100%;
                  right: 10px;
                  bottom: 0px;
                  border: 0px;
                  top: 100px;
              }

p4:hover:after {
                        content: url(../Media/HD2.png); /* no need for qoutes */
                        display: block;
                        position: absolute;
                        width: 0em;
                        left: 10px; /* change this value to one that suits you */
                        top: 10px;
                    }
p5{
      color:#ff85d9;
      font-family: Arial;
      font-size: 600px;
      position:fixed;
    }

p5:hover:after {
        content: url(../Media/profile2.png); /* no need for qoutes */
        display: block;
        position: relative;
        width: 2em;
        left: 10px; /* change this value to one that suits you */
        top: 56px;
}

p6{
    color:#ff85d9;
    font-size: 10em;
    text-align: right;
    position: relative;
    width: 100%;
    right: 10px;
    bottom: 0px;
    border: 0px;
              }

p6:hover:after {
                        content: url(../Media/hotdawg.png); /* no need for qoutes */
                        display: block;
                        position: absolute;
                        width: 0em;
                        left: 10px; /* change this value to one that suits you */
                        top: 10px;
                    }

p7{
                          color:#ff85d9;
                          font-family: Arial;
                          font-size: 600px;
                          position:fixed;
                        }

p7:hover:after {
                            content: url(../Media/.png); /* no need for qoutes */
                            display: block;
                            position: absolute;
                            width: 0em;
                            left: 10px; /* change this value to one that suits you */
                            top: 10px;
                        }

  p8{     color:#ff85d9;
                                          font-size: 10em;
                                          text-align: right;
                                          position: relative;
                                          width: 50%;
                                          top:250px;
                                          right: -300px;
                                          bottom: 0px;
                                          border: 0px;
                                      }

p8:hover:after {
                content: url(../Media/H3.png); /* no need for qoutes */
                display: block;
                position: absolute;
                width: 0em;
                left: 10px; /* change this value to one that suits you */
                top: 10px;
                                            }
